*{
    box-sizing: border-box;
    }
body{
   
    margin: 0px;
}

.logo{
    display: flex;
    width: 35%;
    height: auto;
}
.logo p{
    color: #000;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 10px;
}
.logo img{
    width: 150px;
}

.navegacion{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0%;
    z-index: 1000; 
    background-color: #FFF;

}
.navv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation{
display: flex;
justify-content: center;
align-items: center;
height: auto;

}
li a{
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
list-style: none;
}
ul{
    text-decoration: none;
list-style: none;
}

nav li{
    margin: 5px 10px;
}
.InfoButton{
display: flex;
justify-content: center;
align-items: center;
}
#infobutton{
    width: 165px;
height: 39px;
border-radius: 30px;
background: #6248FF;
color: white;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}
#infobutton:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}
.iconhamburguer {
    display: none;
}

.maincontainer{
    width: 100%;
    height: 520px;
    margin-top: 100px;
    display: flex;
    position: relative;
}
.Presentacion{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    height: 500px;

}
#tituloprincipal{
    color: #243678;
font-family: Roboto;
font-size: 70px;
font-style: normal;
font-weight: 900;
margin: 5px;
width: 600px;
height: auto;
}
#tituloprincipal span{
    color: #58D2CB;
font-family: Roboto;
font-size: 70px;
font-style: normal;
font-weight: 900;
}

#descripciontitulo{
    width: 447px;
height: auto;
color: #000;
font-family: Roboto;
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 10px;
}


 
#infobutton2{
    width: 276px;
    height: 39px;
    border-radius: 30px;
    background: #6248FF;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
#infobutton2:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}


.imagenes{
    position: absolute;
    right: 5%;
    width: 650px;
    height: 500px;
    background: url(./fondo\ main.png), #d3d3d300 90% / cover no-repeat;
    z-index: 0;
}

#embudo{
    position: absolute;
    left: 30%;
    width: 249px;
height: 262px;
    
}

#tablero{
    position: absolute;
    left: 30%;
    top: 50%;
    width: 254px;
height: 169px;
}
#cubo{
    position: absolute;
    left: 2%;
    top: 50%;
    width: 96px;
height: 90px;
}
#triangulo{
    position: absolute;
    right: 10%;
    top: 70%;
    width: 47px;
height: 40px;
}
#paco{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 93px;
height: 74px;
}
#tiroalblanco{
    position: absolute;
    right:3%;
    top: 40%;
    width: 143px;
height: 109px;
}
#planta{
    position: absolute;
    right: 10%;
    top: 15%;
    width: 72px;
height: 108px;
}
#engranes{
    position: absolute;
    left: 15%;
    top: 38%;
    width: 84px;
height: 40px;
}
#laptop{
    position: absolute;
    left: 10%;
    top: 70%;
    width: 159px;
height: 158px;
}
#bola{
    position: absolute;
    top: 90%;
    right: 5%;
    width: 46px;
height: 31px;

}
#bolachica{
    position: absolute;
    top: 80%;
    left: 40%;
    width: 29px;
height: 20px;
}

#cubochico{
    position: absolute;
    top: 30%;
    right: 30%;
    width: 30px;
height: 28px;
}

#tarjeta{
    position: absolute;
    top: 80%;
    left: 55%;
    width: 126px;
height: 75px;
}
/* Comienzo section1 */
.first{
    width: 100%;
    height: 700px;
    padding: 0%;
    background-image: url(./Rectangle\ 2.png) ;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}
.first img{
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.caja{
    width: 221px;
height: 252px;
color: #000;
background-color: white;
border-radius: 10px;
display: block;
padding: 10px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
}
.caja:hover{
    background-color: #3F5DCE;
    color: #FFF;
}
.caja1{
    position: absolute;
    left: 15%;
    top: 10%;

}
.caja2{
    position: absolute;
    left: 32%;
    top: 13%;
    
}
.caja3{
    position: absolute;
    left: 15%;
    top: 48%;

    
}
.caja4{
    position: absolute;
    left: 32%;
    top: 51%;

    
}
#imgcaja1{
    width: 71px;
height: 61.941px;
}
#PPC{
    
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
#exp{
    
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.descripcionsection{
    position: absolute;
    width: 500px;
    height: 500px;
    right: 10%;
    top: 20%;
}
#subtitulo{
    width: 402px;
height: 116px;
color: #FFF;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
left: 5%;
margin: 0px;
}

#listo{
    width: 31px;
height: 31px;
margin-bottom: 30px;
}
.Listo{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 10%;
}
.TextoListo{
    position: absolute;
    right: 25%;
    top: 27%;
}

#TextoListo{
    color: #FFF;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 270px;
height: 25px;
margin-bottom: 35px;
}
#BOTON{
    width: 224px;
height: 47px;
border-radius: 20px;
background: #FFF;
border: none;
color: #000;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 80%;
left: 20%;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}
#BOTON:hover{
    background-color: #3F5DCE;
    color: #FFF;
}


/* Termino section1 */
/* Comienzo section2 */
.section2{
   width: 100%;
   height: 700px; 
   position: relative;
}
#Titulosection2{
    color: #000;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 344px;
height: 54px;
}

.PorqueAddva{
    width: 670px;
    height: 585px;
    position: absolute;
    left: 5%;
    top: 5%;
    
}
#Descripcionsection2{
    color: #243678;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 5px;
}

#Textodescripcion{
    color: #696687;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px;
margin-left: 10px;
}
#butonSection2{
    width: 276px;
height: 39px;
border-radius: 30px;
background: #6248FF;
border: none;
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 100%;
left: 30%;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}
#butonSection2:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}

#imgElijeaddva{
    width: 441px;
height: 438px;
position: absolute;
right:8% ;
top: 17%;
}
/* Terimino section2 */
/* Inicio section3 */
.section3{
    width: 100%;
    height: 750px;
    position: relative;
}
#imgmundo{
    width: 428px;
height: 399px;
position: absolute;
left: 23%;
top: 10%;
}
.Imgmundo{
    width: 750px;
    height: 650px;
    position: absolute;
    left: 2%;
    top: 8%;
}
#globeimg{
    position: absolute;
    top: 50%;
    width: 215px;
height: 129px;
}
#globeimg2{
    position: absolute;
    right: 1%;
    top: 50%;
    width: 215px;
height: 129px;
}
#globeimg3{
    position: absolute;
    top: 65%;
    left: 15%;
    width: 153px;
height: 92px;
}
#globeimg4{
    position: absolute;
    top: 65%;
    right: 15%;
    width: 153px;
height: 92px;
}
#globeimg5{
    position: absolute;
    top: 75%;
    right: 29%;
    width: 126px;
height: 76px;
}
#globeimg6{
    position: absolute;
    top: 75%;
    left: 29%;
    width: 126px;
    width: 126px;
height: 76px;
}
.Numerodeclientes{
    position: absolute;
    top: 20%;
    right: 20%;
}
#cantidad{
    color: #58D2CB;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin: 5px;
}
#clientes{
    color: #696687;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 5px;
width: 177px;
height: 46px;
}
.Numerodeclientes2{
    position: absolute;
    top: 40%;
    right: 20%;
}
#cantidad2{
    color: #243678;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin: 5px;
}
.Numerodeclientes3{
    position: absolute;
    top: 60%;
    right: 20%;
}
/* Terimino section3 */
/* Inicio section4 */
.section4{
    width: 100%;
    height: 650px;
    position: relative;
}
.imgsection4{
    width: 700px;
    height: 600px;
    position: absolute;
    right: 5%;
}
#cubosection1{
    position: absolute;
    width: 159px;
height: 164px;
left: 35%;
top: 32%;
}
#cubosection2{
    position: absolute;
    width: 117px;
height: 122px;
left: 0%;
top: 27%;
}
#cubosection3{
    position: absolute;
    width: 117px;
height: 122px;
left: 38%;
top: 0%;
}
#cubosection4{
    position: absolute;
    width: 117px;
height: 122px;
right: 5%;
top: 27%;
flex-shrink: 0;
}
#cubosection5{
    position: absolute;
    width: 68px;
height: 72px;
flex-shrink: 0;
right: 20%;
top: 75%;
}

#cubosection6{
    position: absolute;
    width: 68px;
height: 72px;
flex-shrink: 0;
left: 15%;
top: 75%;
}
#cubosection7{
    position: absolute;
    width: 80px;
height: 81.928px;
left: 15%;
top: 50%;
}
#cubosection8{
    position: absolute;
    width: 80px;
height: 81.928px;
right: 23%;
top: 50%;
}

#cubosection9{
    position: absolute;
    width: 80px;
height: 81.928px;
right: 25%;
top: 30%;
}

#cubosection10{
    position: absolute;
    width: 80px;
height: 81.928px;
left: 20%;
top: 30%;
}

#cubosection11{
    position: absolute;
    width: 80px;
height: 81.928px;
left: 41%;
top: 64%;
}

#cubosection12{
    position: absolute;
    width: 80px;
height: 81.928px;
left: 17%;
top: 14%;
}
#cubosection13{
    position: absolute;
    width: 80px;
height: 81.928px;
right: 25%;
top: 14%;
}
#cubosection14{
    position: absolute;
    width: 60px;
height: 62px;
right: 40%;
top: 22%;
}

#cubosection15{
    position: absolute;
    width: 60px;
height: 62px;
left: 35%;
top: 22%;
}

#cubosection16{
    position: absolute;
    width: 60px;
height: 62px;
left: 30%;
top: 60%;
}
#cubosection17{
    position: absolute;
    width: 60px;
height: 62px;
right: 36%;
top: 60%;
}

.servicios{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 3%;
    left: 5%;
}
#Nuestroservicios{
    color: #243678;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#Servicio1{
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 40px;
margin-bottom: 2px;
}

#DescripcionServicio{
    color: #000;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 433px;
margin-left: 10px;
}
#ready{
    position: absolute;
    top: 16%;
    
}
#ready2{
    position: absolute;
    top: 35%;
    
}
#ready3{
    position: absolute;
    top: 56%;
    
}
#Verservicios{
    width: 181px;
height: 39px;
border-radius: 30px;
background: #6248FF;
border: none;
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
left: 20%;
top: 80%;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}
#Verservicios:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}
/* Termino section4 */
/* Inicio section5 */
.section5{
    width: 100%;
    height: 400px;
    position: relative;
}

#imgsection5{
    position: absolute;
    width: 346px;
height: 314px;
top: 10%;
left: 20%;
}
#textocontacto{
    color: #000;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 450px;
height: 101px;
position: absolute;
left: 50%;
top: 15%;
}

#contactar{
    width: 181px;
height: 39px;
border-radius: 30px;
background: #6248FF;
border: none;
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
position: absolute;
left: 55%;
top: 55%;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}
#contactar:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}
/* Termino section5 */

/*inicio section6*/
.section6{
    width: 100%;
    height: 700px;
    display: flex;
justify-content: center;
padding: 20px;
}
.formcontacto{
    width: 685px;
height: 646px;
border-radius: 10px;
background: #F0EFF9;
display: flex;
justify-content: center;

}
#form1{
width: 645px;
height: auto;
position: absolute;
top: 32%;
}
#Nombre1{
    width: 282px;
    height: 35px;
    border-right: none ;
    border-left:none ;
    border-top: none;
    background: #F0EFF9;
    border-color: #000 ;
    border-bottom: #000 1px solid;
    margin-bottom: 30px;
}
#apellido{
    width: 282px;
    height: 35px;
    border-right: none ;
    border-left:none ;
    border-top: none;
    background: #F0EFF9;
    border-color: #000 ;
    border-bottom: #000 1px solid;
    margin-left: 40px;
    margin-bottom: 20px;
}
#Email1{
    width: 282px;
    height: 35px;
    border-right: none ;
    border-left:none ;
    border-top: none;
    background: #F0EFF9;
    border-color: #000 ;
    border-bottom: #000 1px solid;
    margin-bottom: 30px;
}

#Movil{
    width: 282px;
    height: 35px;
    border-right: none ;
    border-left:none ;
    border-top: none;
    background: #F0EFF9;
    border-color: #000 ;
    border-bottom: #000 1px solid;
    margin-left: 40px;
    margin-bottom: 30px;
}
#input1{
    width: 250px;
height: 46px;
border-radius: 20px;
background: #6248FF;
border: none;
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
left: 50%;
top: 115%;
transform: translate(-50%,-50%);
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;

}

#input1:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}
#mensaje{
    width: 642px;
    height: 50px;
     border-right: none ;
    border-left:none ;
    border-top: none;
    background: #F0EFF9;
    border-color: #000 ;
    border-bottom: #000 1px solid;
    margin-bottom: 30px;
}
#Contact{
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 5%;
}

#deja{
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 12%;
width: 598px;
z-index: 1;
}

#svg1{
    position: absolute;
    top: 71.5%;
    left: 0%;
}
#svg2{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 0;
}
/* Inicio Fotter */
.fotter{
   width: 100%;
   height: 600px;
   background: url(./Fondofotter.png); 
   background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

#Titulofotter{
    color: #fff;
font-family: Roboto;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
left: 50%;
top: 15%;
transform: translate(-50%,-50%);
cursor: pointer;
}

#accesosfooter{
    display: flex;
    position: absolute;
    left: 50%;
top: 33%;
transform: translate(-50%,-50%);
}

#accesosfooter a{
margin: 0px 45px;
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
width: 222px;
cursor: pointer;
text-decoration: none;
display: flex;

}
#accesosfooter p{
    margin: 0px 45px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    
    }
#linea1{
    width: 1112px;
height: 0.5px;
background: rgba(255, 255, 255, 0.50);
position: absolute;
left: 50%;
top: 45%;
transform: translate(-50%,-50%);
}
#linea2{
    width: 1112px;
height: 0.5px;
background: rgba(255, 255, 255, 0.50);
position: absolute;
left: 50%;
top: 75%;
transform: translate(-50%,-50%);
}

#form2 {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#Nombre{
    width: 247px;
height: 45px;
border-radius: 20px;
background: #FFF;
border: none;
}

#Email{
    width: 247px;
height: 45px;
border-radius: 20px;
background: #FFF;
border: none;
position: absolute;
top: 27%;
    left: 0%;
}
#input{
    width: 143px;
height: 45px;
border-radius: 20px;
background: #6248FF;
border: none;
color: #FFF;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 700;
position: absolute;
top: 12%;
left: 60%;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
}
#input:hover{
    background-color: rgb(36, 54, 120);
    color: #FFF;
}
#Newsletter{
    position: absolute;
    left: 20%;
    top: 51%;
    color: #FFF;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#facebook{
    position: absolute;
    left: 10%;
    top:90%;
    cursor: pointer;
}
#insta{
    position: absolute;
    left: 13%;
    top:90%; 
    cursor: pointer;
}

#Avisop{
    color: rgba(255, 255, 255, 0.50);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: 60%;
top: 95.5%;
margin: 0px;
cursor: pointer;
}

#Derechos{
    color: #949AAF;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
position: absolute;
left: 70%;
top: 95%;
margin: 0px;
cursor: pointer;
}

#blur{
    width: 192px;
height: 192px;
background: rgba(255, 255, 255, 0.30);
filter: blur(100px);
    z-index: -1;
    position: absolute;
    top: 30%;
}
.sidebar{
    display: none;
}
.success{
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 10%;
     }
    
     .sectionregistro{
         width: 100%;
         height: 600px;
         position: relative;
         
     }
     #reloj{
         position: absolute;
         top: 50%;
         transform: translate(-50%,-50%);
         left: 50%;
     }
     .complet{
         position: absolute;
         transform: translate(-50%,-50%);
         left: 50%;
         top: 50%;
         width: 800px;
         height: 600px;
     }
     .back{
        width: 180px;
        height: 39px;
        border-radius: 30px;
        background: #6248FF;
        color: white;
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease, color 0.3s ease;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 85%;
     }
     .back:hover{
        background-color: rgb(36, 54, 120);
        color: #FFF;
     }
     .back a{
         text-decoration: none;
         color: #FFF;
     }


/* Estilos generales para dispositivos más grandes (escritorio) */


@media only screen and (min-width: 767px) {
    /* Estilos específicos para dispositivos con un ancho máximo de 767px (pantallas más pequeñas, como móviles) */
    .fade-in {
        opacity: 0;
        transform: translateY(20px); /* Opcional: agrega un efecto de desplazamiento */
        transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
}


