@media (max-width: 767px) {
    
    .iconhamburguer  {
        display: flex;
        width: 40px;
        

       
    }
    .sectionregistro{
        width: 100%;
        height: 450px;
    }
.complet{
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
    height: 400px;
}
    #reloj{
        width: 300px;
        position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    }
    .success{
        font-size: 20px;
        width: 350px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        position: absolute;
        top: 1%;
    }
    .back{
        top: 90%;
    }
    .navv{
        display: none;
    }
    .InfoButton{
        display: none;
    }
    .navegacion{
        align-items: center;
        height: 75px;
        position: fixed;
        top: 0%;
        z-index: 1000; 
        background-color: #FFF;
    }
    .logo img {
        margin: 0px;
        margin-left: 5px;
        width: 90px;
        
    }
    .logo{
        width: 355px;
        
    }
.fqa{
    height: 3100px;
    position: relative;
    z-index: -1;
}
.preguntas{
    width: 400px;
}
#Titulo{
    color: #0A5A88;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 700;
position: absolute;
top: 2%;
margin: 5px;
transform: translate(-50%,-50%);
left: 50%;
width: 220px;
}
.pyr{
    width: 400px;
    height: 2240px;
   position: absolute;
   top: 0%;
}

#imgfqa{
    position: absolute;
    top: 73%;

}

#accesosfooter{
    display: flex;
    position: absolute;
    left: 50%;
top: 33%;
text-align: center;
justify-content: center;
width: 300px;

}

#accesosfooter a{
margin: 0px 15px;
color: #FFF;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 700;
cursor: pointer;
text-decoration: none;
display: flex;
text-align: center;


}

    .fotter{
        width: 100%;
    }
    #linea1{
        width: 100%;
    }
    #lineas2{
        width: 100%;
    }
form{
width: 150px;
height: 120px;
left: 50%;
top: 63%;
transform: translate(-50%,-50%);
}
    #Nombre{
width: 150px;
height: 35px;
font-size: 12px;
    }
    #Email{
        width: 150px;
        height: 35px;
        font-size: 12px;
        top: 35%; 
    }
    #Newsletter{
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 300px;
        transform: translate(-50%,-50%);
    }
    #input{
        width: 115px;
        height: 30px;
        font-size: 12px;
        left: 50%;
        top: 82%;
        transform: translate(-50%,-50%);
        
    }

    #facebook{
        position: absolute;
        left: 10%;
        top:90%;
        cursor: pointer;
    }
    #insta{
        position: absolute;
        left: 20%;
        top:90%; 
        cursor: pointer;
    }
    #Avisop{
        color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 20%;
    top: 95.5%;
    margin: 0px;
    cursor: pointer;
    }
    
    #Derechos{
        color: #949AAF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 94%;
    margin: 0px;
    cursor: pointer;
    }
    .fade-in {
        opacity: 0;
        transform: translateY(20px); /* Opcional: agrega un efecto de desplazamiento */
        transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1C274C;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1000;
        display: none; /* Oculta la barra lateral por defecto */
       
        
    }
    
    .sidebar-links {
        list-style: none;
        padding: 20px;
    }
    
    .sidebar-links li {
        margin-bottom: 25px;
        cursor: pointer;
        
    }
    
    .sidebar-links a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    
    
    /* Estilos para el icono de cierre de la barra lateral */
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    
    /* Estilos adicionales para dispositivos móviles */
    @media only screen and (max-width: 768px) {
        /* Oculta la barra de navegación en pantallas grandes */
        .navv {
            display: none;
        }
    
        /* Muestra la barra lateral en dispositivos móviles */
        .sidebar {
            display: block;
           
            
        }
    }
    
}



